<template>
  <component
    :is="layoutName"
    class="w-full min-h-screen"
  >
    <nuxt />
  </component>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'LayoutDefault',
  components: {
    LayoutWeb: () => import('@/components/desktop/layouts/TheLayout'),
    LayoutWap: () => import('@/components/mobile/layouts/TheLayout')
  },
  data () {
    return {
      innerWidth: 1024
    }
  },
  computed: {
    ...mapGetters({
      layoutName: 'layoutName'
    }),
    isDeviceDesktop () {
      return this.innerWidth >= 1024
    }
  },
  watch: {
    isDeviceDesktop: {
      handler () {
        this.changeDevice(this.isDeviceDesktop)
      }
    }
  },
  mounted () {
    this.innerWidth = window.innerWidth
    window.addEventListener('resize', this.changeInnerWidth)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.changeInnerWidth)
  },
  methods: {
    ...mapActions({
      changeProperties: 'changeProperties',
      changeDevice: 'changeDevice'
    }),
    changeInnerWidth () {
      this.innerWidth = window.innerWidth
    }
  }
}
</script>
