<template>
  <component
    :is="nameComponent"
  />
</template>

<script>
import pageMixin from "~/mixins/pageMixin";

export default {
  name: 'IndexPage',
  components: {
    DesktopComponent: () => import('@/components/desktop/pages/Home'),
    MobileComponent: () => import('@/components/mobile/pages/Home')
  },
  mixins: [
    pageMixin
  ]
}
</script>
